<h1><%= @format.kind.pluralize %></h1>
  <div class='ing_info'>
    <ul>
      <% @format.creams.each do |c| %>
        <li><%= link_to c.name, c %> <%= "#{c.fave}".html_safe %> <%= "#{c.rotation}".html_safe %></li>
      <% end %>
    </ul>
  </div>

  <div class='nav'>
  <%= link_to "All", formats_path %><br>
  <%= link_to "Home", root_path %>
  </div>
