  <h1>Best Skin Care Ingredients</h1>
  <div class='ing_info'>
    &#x2605; = <%= link_to 'best best', :sort => "best DESC" %>
      <ol>
        <% @ingredients.each do |i| %>
        <li>
          <%= link_to i.name, i %> <%= "#{i.best_best}".html_safe %>
        </li>
        <% end %>
      </ol>
    </div>
    <div class='nav'>
    <% if current_user %>
      <%= link_to "New", new_ingredient_path, method: :get %><br>
    <% end %>
    <%= link_to "Home", root_path %>
    </div>
