<div id="welcome_page">

  <h1>you're not not pretty</h1>
  <div class='small'>
    It's so nice to be a beautiful girl and spending <%= number_to_currency(@sum) %> since 2015.<br>
    <% if current_user %>
      Hello, <%= @user %>.<br>
      <%= link_to "LOGOUT", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "LOGIN", login_path %><br>
    <% end %>
  </div>
  <br>
  <%= link_to "LOOK GOOD, FEEL GOOD", creams_path%>&nbsp;&nbsp;&#x2765;&nbsp;&nbsp;<%= link_to "CRÈME DE LA CREAM", ingredients_path%><br><br>
  <iframe src="https://player.vimeo.com/video/224875215" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
