  <h1>
    <%= @cream.name %> <%= "#{@cream.fave}".html_safe %> <%= "#{@cream.rotation}".html_safe %>
  </h1>
  <div class='ingredients'>
    Salient Ingredients
  <ul>
    <% @cream.ingredients.each do |i| %>
      <li><%= link_to i.name, i %> <%= "#{i.best_best}".html_safe %></li>
    <% end %>
  </ul>
  </div>

  <div class='cream_info'>
    Brand: <%= @cream.brand %><br>
    Type: <%= link_to @format.kind, @format %><br>
    Price: <%= number_to_currency(@cream.price)%><br>
    Size: <%= @cream.size %> ml<br>
    Cost Per ml: $<%= @cream.cost_per_unit %><br>
    Times Purchased: <%= @cream.times_purchased %><br><br>
  </div>

  <div class='nav'>
  <%= link_to "Edit", edit_cream_path(@cream), method: :get %><br>
  <%= link_to "Delete", @cream, method: :delete, data: { confirm: "Are you sure?" } %><br>
  <%= link_to "New", new_cream_path, method: :get %><br>
  <%= link_to "All", creams_path %><br>
  <%= link_to "Home", root_path %>
  </div>

  <div class='notes'>
    Notes: <%= @cream.notes %>
  </div>
